<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Registration Form</title>
</head>
<body>
    <h3>Student Registration Form</h3>
    <form th:action="@{/processStudentForm}" th:object="${student}" method="POST">
        First name: <input type="text" th:field="*{firstName}"/>
        <br><br>
        Last name: <input type="text" th:field="*{lastName}"/>
        <br><br>
        Country:

        <select th:field="*{country}">
            <option th:each="tempCountry: ${countries}" th:value="${tempCountry}" th:text="${tempCountry}"></option>
        </select>

        <br><br>
        Favorite Programming Language:
        <!-- favorniteLanguage bind with student object -->
        <input type="radio" th:field="*{favoriteLanguage}"  
                            th:each="tempLang : ${languages}"
                            th:value="${tempLang}"
                            th:text="${tempLang}"/>
        <br><br>

        Favorite Operation Systems:
        <input type="checkbox" 
                th:field="*{favoriteSystems}" 
                th:each="tempSystem: ${systems}" 
                th:value="${tempSystem}" 
                th:text="${tempSystem}"/>
        <br><br>
        <input type="submit" value="Submit"/>
    </form>
</body>
</html>